<a href="https://colab.research.google.com/github/HKang42/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module3-join-and-reshape-data/Harrison_Kang_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [2]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-02-12 23:22:13--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.11.22
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.11.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  96.2MB/s    in 2.0s

2020-02-12 23:22:16 (96.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [3]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [4]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [5]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####

#Load each dataframe 

import pandas as pd

aisles = pd.read_csv('aisles.csv')

departments = pd.read_csv('departments.csv')

order_products__prior = pd.read_csv("order_products__prior.csv")

order_products__train = pd.read_csv("order_products__train.csv")

orders = pd.read_csv('orders.csv')

products = pd.read_csv('products.csv')

In [7]:
# Check which dataframes we need
# List of what each column is: https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b


# print (aisles.head())

# print (departments.head())

print (order_products__prior.head())

# print (order_products__train.head())

# print (orders.head())

print (products.head())

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [0]:
# Drop irrelevant columns before merging

order_products__prior_2 = order_products__prior.drop(['add_to_cart_order', 'reordered', 'order_id'], axis = 1)

products_2 = products.drop( ['aisle_id', 'department_id'], axis = 1)

In [0]:
# now we merge

order_prod = pd.merge(order_products__prior_2, products_2, how= 'inner')

In [0]:
# Get list of products we're insterested in

top_20 = ['Banana', 'Bag of Organic Bananas', 'Organic Strawberries', 'Organic Baby Spinach', 'Organic Hass Avocado', 'Organic Avocado', 'Large Lemon', 'Strawberries', 'Limes', 'Organic Whole Milk']

In [11]:
# Use a loop to get the counts for the top 20 products

for item in top_20:
  
  # Get the condition to filter for the item
  condition = ( order_prod['product_name'] == item)

  # Count the number of rows of the filtered index
  number_of_item = str ( len( order_prod[condition].index ) )

  # Print the result
  print( "\nThe number of", str(item), "is:", number_of_item)

The number of Banana is: 472565

The number of Bag of Organic Bananas is: 379450

The number of Organic Strawberries is: 264683

The number of Organic Baby Spinach is: 241921

The number of Organic Hass Avocado is: 213584

The number of Organic Avocado is: 176815

The number of Large Lemon is: 152657

The number of Strawberries is: 142951

The number of Limes is: 140627

The number of Organic Whole Milk is: 137905

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [12]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

**Table2 -> Tidy**

In [13]:
table2 = table2.reset_index()

table2

        index  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [0]:
table2 = table2.rename(columns={'level_0' : 'index', 'index' : 'treatment'})

In [15]:
table2

    treatment  John Smith  Jane Doe  Mary Johnson
0  treatmenta         NaN      16.0           3.0
1  treatmentb         2.0      11.0           1.0

In [16]:
tidy = table2.melt(id_vars = 'treatment', value_vars=['John Smith', "Jane Doe", "Mary Johnson"])

#table2.melt(value_vars = 'index', id_vars=['John Smith', "Jane Doe", "Mary Johnson"])

#table2.melt(id_vars=['treatmenta', 'treatmentb'])

tidy

    treatment      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [17]:
# Fix the headers

tidy = tidy.rename( columns={'variable' : 'name', 'value' : 'result'})

tidy

    treatment          name  result
0  treatmenta    John Smith     NaN
1  treatmentb    John Smith     2.0
2  treatmenta      Jane Doe    16.0
3  treatmentb      Jane Doe    11.0
4  treatmenta  Mary Johnson     3.0
5  treatmentb  Mary Johnson     1.0

**Tidy -> Table2**

In [18]:
untidy = tidy.pivot_table(index='treatment', columns='name', values='result')

untidy

name        Jane Doe  John Smith  Mary Johnson
treatment
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

**Create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns.**

You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import seaborn as sns

flights = sns.load_dataset('flights')

In [20]:
flights.pivot_table(index='year', columns='month')

      passengers                       ...
month    January February March April  ... September October November December
year                                   ...
1949         112      118   132   129  ...       136     119      104      118
1950         115      126   141   135  ...       158     133      114      140
1951         145      150   178   163  ...       184     162      146      166
1952         171      180   193   181  ...       209     191      172      194
1953         196      196   236   235  ...       237     211      180      201
1954         204      188   235   227  ...       259     229      203      229
1955         242      233   267   269  ...       312     274      237      278
1956         284      277   317   313  ...       355     306      271      306
1957         315      301   356   348  ...       404     347      305      336
1958         340      318   362   348  ...       404     359      310      337
1959         360      342   406   396  ...       463     407      362      405
1960         417      391   419   461  ...       508     461      390      432

[12 rows x 12 columns]

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [21]:
##### YOUR CODE HERE #####

"""
PLAN

What we need:

 - product names (product ID + product name)
 - product orders (product ID + Order)
 - time of product orders (Order + Order Time)


How do do it:

Drop irrelevant columns and rows (any rows in orders that aren't eval_set = 'prior')

Grab 'order__products__prior' dataframe and filter based on products with more than 2,900 orders

Filter 'orders' dataframe based on result from prior step. Calculate average time of order in new column.

Merge 'orders' with 'products' to get actual names for each product

Sort by latest average order time
"""

"\nWhat we need:\n\n - product names (product ID + product name)\n - product orders (product ID + Order)\n - time of product orders (Order + Order Time)\n\n\nHow do do it:\n\nDrop irrelevant columns and rows (any rows in orders that aren't eval_set = 'prior')\n\nGrab 'order__products__prior' dataframe and filter based on products with more than 2,900 orders\n\nFilter 'orders' dataframe based on result from prior step. Calculate average time of order in new column.\n\nMerge 'orders' with 'products' to get actual names for each product\n\nSort by latest average order time\n"

In [0]:
import pandas as pd

order_products__prior = pd.read_csv("order_products__prior.csv")

orders = pd.read_csv('orders.csv')

products = pd.read_csv('products.csv')

In [0]:
# Drop the rows in orders that aren't eval_set = 'prior'

condition = (orders['eval_set'] != 'prior' )

orders = orders.drop( orders[condition].index )

In [0]:
order_products__prior = order_products__prior.drop(columns = ['add_to_cart_order', 'reordered'])

orders = orders.drop(columns = ['user_id', "eval_set", 'order_dow', 'order_number', 'days_since_prior_order'])

products = products.drop( ['aisle_id', 'department_id'], axis = 1)

In [0]:
order_prod = pd.merge(order_products__prior,products)

In [0]:
unique_products = products['product_name'].unique()

i = 0

top = []

for item in unique_products:

  condition = (order_prod['product_name'] == item )

  num_orders = len( order_prod[condition] )

  if int(num_orders) >= 2900:
    top.append(item)

    print(item, num_orders)

print ( done)

Peanut Butter Cereal 6536
European Cucumber 18413
Wild Albacore Tuna No Salt Added 3585
English Muffins 4359
Petit Suisse Fruit 3636
Vanilla Milk Chocolate Almond Ice Cream Bars Multi-Pack 3864
Restaurant Style Organic Chia & Quinoa Tortilla Chips 3639
Nectarines 4903
100% Recycled Aluminum Foil 3282
Organic Mini Homestyle Waffles 4919
Soda 35791
Free & Clear Natural Laundry Detergent For Sensitive Skin 4931
Homemade Hot Arrabbiata Fra Diavolo Sauce 4552
Dried Sweetened Cranberries 6371
Cantaloupe 23900
Non-Fat Blueberry on the Bottom Greek Yogurt 3025
Diet Root Beer 3037
Organic Whole Wheat Elbows 3030
Turkey 3107
Naturals Savory Turkey Breakfast Sausage 8212
Organic Whole Grassmilk Milk 15459
Organic Whole Peeled Baby Carrots 3180
Cheerios Cereal 7830
Pure Granulated Cane Sugar 4334
Vanilla Almond Breeze Almond Milk 30935
Petite Brussels Sprouts 4831
Black Peppercorns 3020
Tomatillo Salsa 2926
Garnet Sweet Potato (Yam) 6735
Natural Liquid Laundry Detergent - Blue Eucalyptus and Lavender 4258
Organic Salted Butter 15035
Organic Promise Strawberry Fields Cereal 3151
Organic Shredded Mild Cheddar 8326
Garbanzo Beans 3700
Healthy Grains Oats & Honey Clusters with Toasted Coconut Gluten Free 3842
Organic Diced Tomatoes 21997
YoKids Squeeze Organic Blueberry Blue Yogurt 3478
Coconut Yogurt 3157
Philadelphia Cream Cheese 3767
Organic Fresh Basil 11930
Shells & Real Aged Cheddar Macaroni & Cheese 7460
Turkey Bacon 5132
Mango Chunks 17699
Pinot Grigio 3235
Mini Watermelon 3476
Natural Artisan Water 11110
Organic Whole Grain Oatmeal Cereal Baby Food 4376
Kidz All Natural Baked Chicken Nuggets 7093
Select-A-Size Paper Towels, White, 2 Huge Rolls = 5 Regular Rolls  Towels/Napkins 4196
Cream Top Smooth & Creamy Plain Yogurt 3465
Organic Orange Bell Pepper 10518
American Cheese Slices 12 Count 3450
Crunchy Peanut Butter 5139
Organic Vanilla Chip Chewy Granola 2915
Ice Bag 4244
Mini Cucumbers 7752
Organic Milk 27992
Organic Peeled & Cooked Beets 5512
2% Reduced Fat DHA Omega-3 Reduced Fat Milk 13397
Organic Acai Berry Smoothie Packs 4771
Parsley, Italian (Flat), New England Grown 8736
Cherry Pomegranate Greek Yogurt 6858
Major Dickason's Blend Ground Coffee Dark Roast 5930
White Cheddar Popcorn 7788
Organic Large Grade A Eggs 4739
Organic 2% Reduced Fat Milk 23244
Organic Chicken Broth 11297

In [48]:
# Use the top item list to loop through produces in 'orders' and caluclate average order time that product.
# Add item and associated average time to a list.

#late = pd.DataFrame({'product_name' : [], 'ave_order_time' : []})
late = []

for item in top:

  condition = orders['product_name'] == item

  late.append( [item, (orders[ condition ]) ['order_hour_of_day'].mean() ] )

print (late)

order_id        32434489
product_id      32434489
product_name    32434489
dtype: int64

In [0]:
# create a dataframe and add the list to it. Then use sort_values to sort by latest average time.

late_df = pd.DataFrame({'product_name' : [], 'ave_order_time' : []})

late_df.append(late)

late_df.sort_values(by = 'ave_order_time')

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####